[submodule "soft-scanner-frontend"]
	path = soft-scanner-frontend
	url = https://github.com/Neoxs/soft-scanner-frontend
[submodule "soft-scanner-web"]
	path = soft-scanner-web
	url = https://github.com/Neoxs/soft-scanner-web
